* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.first{
    position: relative;
    background-color: #B0D8DA;
    min-height: 100vh;
    display: flex;
}
.discription{
    padding: 0.5em 0.5em;
}
.logo {
    width: 10vw;
    transition: .9s all ease-in-out;
    animation: shake 2s 1s forwards running;
}
img {
    width: 100%;
    vertical-align: middle;
}
.discription-text {
    width: 15em;
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3vw;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 0.3em 0.5em 0;
}
.beads{
    position: absolute;
    z-index: 1;
    width: 45%;
    left: 5%;
    transition: .9s all ease-in-out;
    animation: slide 2s .3s forwards running;
}
.beads img {
    width: 100%;
    vertical-align: middle;
}
.login{
    position: relative;
    width: 100%;
}
.sign-in{
    position: relative;
    top: -3em;
    background: rgba(255, 255, 255, 1);
    padding: 5em 8em 1em 5em;
    border-radius: 50px;
    text-align: center;
    right: -3em;
    width: 100%;
}
.english {
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 27px;
    color: #AFAFAF;
    text-align: right;
    margin-bottom: 1.2em;
}
.arrow{
    position: relative;
}
.arrow::after{
    content: '';
    position: absolute;
    left: 2px;
    transform: translateY(-50%);
    top: 50%;
    border-top: 0.5em solid #AFAFAF;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.title {
    margin: 0 0 1em;
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    color: #000000;
}
.acct-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.acct-button button{
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    color: #9D9D9D;
    border: 2px solid #A6A6A6;
    border-radius: 20px;
    background: transparent;
    padding: .5em 1em;
    cursor: pointer;
    margin-bottom: 1em;
    transition: .5s all ease;
}
.acct-button button:hover{
    background-color:  #dfd2d2;
}
.google-btn img{
    width: 2.5em;
    display: inline-block;
    position: relative;
    left: -5px;
}
.facebook-btn img{
    width: 2.5em;
    display: inline-block;
    position: relative;
    left: -5px;
}
.or{
    padding: .7em;
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    color: #A6A6A6;
}
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
form .fill-in{
    margin-bottom: .7em;
    border: none;
    border-bottom: 1px solid #B8B8B8;
    transform: rotate(-0.11deg);
    background: transparent;
    padding: .3em;
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7vw;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
    outline: none;
    color: #A6A6A6;
    width: 100%;
}
.password-intel{
    position: relative;
}
.password-icon{
    position: absolute;
    width: 2vw;
    right: 0;
    bottom: 20px;
    cursor: pointer;
}
input[type="submit"] {
    background: #B0D8DA;
    border-radius: 25px;
    border: none;
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 1.6em;
    padding: .2em 0;
    color: #FFFFFF;
    margin-top: .3em;
}
.my-account{
    font-family: Poppins, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 39px;
    color: #A6A6A6;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -35px;
    right: -4%;
}

@media (max-width: 768px){
    .first{
        flex-direction: column;
        padding: 0 4vw;
    }
    .discription, .discription-text{
        width: 100%;
    }
    .beads{
        width: 100%;
        z-index: 0;
    }
    .sign-in{
        top: 0;
        padding: 5vw 7vw;
        right: 0;
        background: rgba(255, 255, 255, .9);
    }
    .title{
        font-size: 1.7rem;
    }
    .acct-button button{
        font-size: .7em;
    }
    form{
        width: 80%;
    }
    .discription-text, .or, form .fill-in, input[type="submit"] {
        font-size: 4vw;
    }
    .my-account {
        font-size: 3vw;
        top: 0;
        right: 0%;
    }
}